<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Contact Us</title>
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/services">Our Services</a>
    <a href="/contact">Contact us</a>
  </nav>
  <div class="container">
    <h1>Contact Us</h1>
    <p>This is our contact Page.</p>
    <p>Email: lamloumatef12@gmail.com</p>
    <p>Phone: +216 28-057-177</p>
  </div>
</body>
</html>