/* public/styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #434141;
  }
  
  nav {
    background-color: #9799e1;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  nav a {
    color: #312b2b;
    text-decoration: none;
    margin: 0 15px;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  